body{
    
  padding-top: 120px;
  padding-bottom: 100px;
}



nav p{
  color: #fff;
  text-align: center;
}
.hello-msg{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}

.text-light{
  text-align: center;
}
.form-check{
  margin-left: 20px;
}

h2{
  text-align: center;
}

.mySlides{
  border-style:solid;
  border-radius: 20px;
}

.p-3{
  background: #222;
}

.upcoming{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
}

.feedback-header{
  text-align: center;
  text-decoration: sandybrown;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

.team-col2{
  display:inline-block;
  vertical-align: middle;
  float: none;
}

.siteadmin{
  text-align: right;
}

#messages{
  text-align: center;
}

.pendingcomplaint{
  background-color: rgb(216, 74, 74);
}

#complainttable{
  margin-top: 20px;
  padding: 20px;
}

#datetimeio{
  padding: 20px;
}

.z-depth-1{
  border-radius: 10px;
}


/* Form Entry */

* {
box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.entrygrid {
float: left;
width: 25%;
padding: 10px;
margin: 10px;
}

.entryrow{
margin-left: 10px;
margin-right: 10px;
}


/* Clear floats after the columns */
.entryrow:after {
content: "";
display: table;
clear: both;
}
/* Style the buttons */
.entrybtn {
border: none;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
}

.entrybtn:hover {
background-color: #ddd;
}

.entrybtn.active {
background-color: #666;
color: white;
}

.entryicon{
width: 100px;
height: 100px;
}


#density-astm{
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}